html, body{
	display: block;
	position: relative;
	width: 100%;
	margin:0;
	text-align:left;
	padding: 0;
	font-size: 20px;
	color: #222;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 300;
	background-color:#f2e7d0;
}



















/*background: rgb(242,231,208);
background: linear-gradient(90deg, rgba(242,231,208,1) 30%, rgba(255,255,255,0) 100%);*/













/*********************************************************/
/*********************************************************/
/*header
/*********************************************************/
/*********************************************************/


.nav-container {
	display: block;
	position:relative;
	margin:0;
	padding: 2% 4%;
	width: 92%;
	height: 100px;
}

.nav-container a img{
    width:340px;
}

.nav-container .nav-bar {
	display:block;
	position:relative;
	float:right;
	margin:0;
    padding:38.5px 0;

}

.nav-container .nav-bar .nav-contents {
	padding: 0;
	margin: 0;
    text-align: right;
}

.nav-container .nav-bar .nav-contents a {
	padding: 10px;
	margin: 0;
	font-size: 18px;
    font-weight: bold;
}


































/*********************************************************/
/*********************************************************/
/*Body*/
/*********************************************************/
/*********************************************************/

.body-container{
	width:60%;
	height:1500px;
	margin: 0% 20%;
}

/*story*/
/*service*/
.services-container{
	text-align: center;
}
.services-container h1{
}
.services-container h3{
	margin:0;
}
.services-container p{
	margin-top:0;
}
/*vid*/
.vid-container{
	
}

































/*********************************************************/
/*********************************************************/
/*footer*/
/*********************************************************/
/*********************************************************/


.footer-container{
	position:relative;
	margin:0 20%;
	padding:0;
	width:60%;
	height: 180px;
}


.footer-icon{
	width:40px;
}

.cross-icon{
	width:60px;
}

.sm-container{
	width:40%;
	float:left;
}

.sub-container{
 width:40%;
 float:right;
}

.sub-container p{
	margin:0;
}

.contact pre{
	margin:0;
	display:inline-block;
	text-align:center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
}
.contact p{
	margin:0;
	display:inline-block;
	text-align:center;
}

a{
	text-decoration: none;
	color:#000;
}