/*defines default styles and background*/
html, body{
	display: block;
	position: relative;
	width: 100%;
	margin:0;
	text-align:left;
	padding: 0;
	font-size: 20px;
	color: #222;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 300;
	background-image: url("images/assets/asset3.png");
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: -1000;
}

















/*background: rgb(242,231,208);
background: linear-gradient(90deg, rgba(242,231,208,1) 30%, rgba(255,255,255,0) 100%);*/











/**/

/*********************************************************/
/*********************************************************/
/*Body*/
/*********************************************************/
/*********************************************************/

/*defines page size*/
.body-container{
	width:100%;
	height:1500px;
	position: absolute;
}

/*defines navigation container size*/
.nav-container {
	display: inline-block;
	position:relative;
	margin: 2% 4%;
	width: 92%;
}

/*defines size for logo*/
.nav-container a img{
	position: inherit;
    width:calc(100px + 12%); /*calc method calculates static size (px) + responsive size (%) to determine min and max image size*/
}

/*defines navigation content container*/
.nav-bar {
	display:block;
	position:relative;
	float:right;
	margin:0;
    padding:3% 0;
}

/*defines vertical constraints for "On God"*/
.banner{
	padding:11% 0;
	color: white;
	text-align: center;
	display:block;
	font-size: 11vw;
	margin:0;
}

/*defines styles for "On God"*/
.landing-container .banner h1{
	color: white;
	text-align: center;
	display:block;
	font-size:calc(72px + 12vh);
	margin:0;
}

/*position of white background image(s)*/
img{
	position: absolute;
	width: 100%;
	z-index: -1;
}	

/*defines navigation content (not container, see above)*/
.nav-contents {
	padding: 0;
	margin: 0;
    text-align: right;
}

/*defines individual navigation tabs*/
.nav-contents a {
	padding: 10px;
	margin: 0;
	font-size: calc(6px + .9vw); /*calc method calculates static size (px) + responsive size (vw) to determine min and max font-size*/
	font-weight: bold;
	color: #ffffff;
}

/*defines style for background PROceeding "landing-container"*/
.contents{
	background-color:#f2e7d0; /*Creme Colour*/
	z-index:-1;
	position: relative;
}

/*defines size of "story-container"*/
.story-container{
	height:1000px;
	z-index:1;
}

/*defines size of "services-container"*/
.services-container{
	z-index:1;
	text-align: center;
	height:1000px;
}

/*overwrites default margins*/
.services-container h3{
	margin:0;
}

/*overwrites default margins*/
.services-container p{
	margin-top:0;
}

/*defines size of "vid-container"*/
.vid-container{
	height:1000px;
	z-index:1;

}































/*********************************************************/
/*********************************************************/
/*footer*/
/*********************************************************/
/*********************************************************/

/*defines styles of "footer-container", assigns red bg image*/
.footer-container{
	position: absolute;
	margin:0;
	padding:0;
	width:100%;
	height: 240px;
	background-image: url("images/assets/footer-bg.png");
	background-size: 100%;
	background-repeat: no-repeat;
	z-index:-1;
}

/*defines size of "top-footer" container*/
.top-footer {
	width:60%;
	margin: 60px 20% 0 20%;
	height:120px;
}

/*defines size of social media icons*/
.footer-icon{
	position: relative;
	width:50px;
}

/*defines left container for social media*/
.sm-container{
	width:30%;
	float:left;
}

/*defines right contaainer for jewsletter subscription*/
.sub-container{
 width:30%;
 float:right;
}

/*overwrites default margins*/
.sub-container p{
	margin:0;
}

/*defines size of "bottom-footer" container*/
.bottom-footer{
	width:80%;
	margin: 0 10%;
	text-align:center;
}

/*defines "contact" container*/
.contact{
	height:80px;
	display: inline-block;
}

/*defines styles for contact info*/
.contact pre{
	margin:0;
	display:inline-block;
	text-align:center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
}

a{
	text-decoration: none;
	color:#000;
}