html, body{
	
	position: relative;
	background-color:pink;
	margin:0px;
	padding: 0px;
	font-family: helvetica;
	
}

































/*********************************************************/
/*********************************************************/
/*header
/*********************************************************/
/*********************************************************/


.nav-container {
	padding:0px;
	background-color:black;
	margin:0px;
	overflow:auto;

}


.nav-container a {
	padding: 10px;
	float:left;
	font-size: 18px;
	color:white;
	text-decoration:none;
	text-align:left;
}

.nav-container a:hover{
	
	display:inline-block;
	color:black;
	background-color:white;
}

.nav-container a.current{
	background-color:#777777;
	color:black;
}





























/*********************************************************/
/*********************************************************/
/*Body*/
/*********************************************************/
/*********************************************************/

.body-container{
	width:80%;
	height:500px;
	margin: 0% 10%;
}



































/*********************************************************/
/*********************************************************/
/*footer*/
/*********************************************************/
/*********************************************************/
footer{
   display:block;
   background-color:#999999;
   font-family:helvetica;

}

.customer-service a{
   color:white;
}



.contact-info a{
   color:yellow;
}

.img{
   color:black;
}
footer a{
   text-decoration:none;
   
}